<h1>
  Add a new flight
</h1>


<hr>

<form action="/create_flight" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control">
  </div>

  <div class="form-group">
    <label for="departs_at">
      Departs at
    </label>

    <input type="text" id="departs_at" name="departs_at" class="form-control">
  </div>

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @flight.user_id), :class => "form-control") %>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="ten_minute_message_sent">
    <input id="ten_minute_message_sent" class="form-check-input" name="ten_minute_message_sent" type="checkbox">
    <label for="ten_minute_message_sent" class="form-check-label">
      Ten minute message sent
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="five_minute_message_sent">
    <input id="five_minute_message_sent" class="form-check-input" name="five_minute_message_sent" type="checkbox">
    <label for="five_minute_message_sent" class="form-check-label">
      Five minute message sent
    </label>
  </div>

  <div class="form-check">
    <input type="hidden" value="0" name="one_minute_message_sent">
    <input id="one_minute_message_sent" class="form-check-input" name="one_minute_message_sent" type="checkbox">
    <label for="one_minute_message_sent" class="form-check-label">
      One minute message sent
    </label>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create flight
  </button>
</form>

<hr>

<a href="/flights">
  Go back
</a>
